<%- include("partials/header.ejs") %>
<style>
  .stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
  }
  .statsItem {
    background-color: var(--primaryColor);
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .statsItemTitle,
  .statsItemValue {
    color: var(--whiteColor);
    font-size: 1.5rem;
    font-weight: 600;
  }
  .statsItemValue {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .adminContainer h2 {
    margin-top: 4rem;
  }
  .userList {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  .userCard {
    background-color: var(--primaryColor);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .userCard p {
    margin: 0.5rem 0 0;
    color: var(--whiteColor);
  }
  @media (max-width: 768px) {
    .stats {
      padding-top: 2rem;
      gap: 1rem;
    }
    .userList {
      grid-template-columns: 1fr;
    }
    .statsItem {
      background-color: var(--primaryColor);
      padding: 1rem 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    li a {
      padding: 0.5rem 0.875rem;
      font-size: 0.75rem;
    }
    .adminContainer {
      text-align: center;
    }
    .statsItemTitle,
    .statsItemValue {
      font-size: 1rem;
    }
  }
</style>
<div style="text-align: right; margin-right: 2.5rem" class="adminPanel">
  <li>
    <a
      href="/users/admin"
      style="
        background-color: #2a2f4f;
        color: #fff;
        padding: 1rem 2rem;
        border-radius: 0.25rem;
      "
      >Return To Home</a
    >
  </li>
</div>
<div class="container adminContainer">
  <div class="nav"><h1>Hello Admin, <%= user.name %>!</h1></div>
  <div class="stats">
    <div class="statsItem">
      <div class="statsItemTitle">Total Users</div>
      <div class="statsItemValue"><%= stats.totalUsers %></div>
    </div>
    <div class="statsItem">
      <div class="statsItemTitle">Total Posts</div>
      <div class="statsItemValue"><%= stats.totalPosts %></div>
    </div>
  </div>
  <h2>All Users</h2>
  <div class="userList">
    <% users.forEach(user => { %>
    <div class="userCard">
      <h3><%= user.name %></h3>
      <p>Email: <%= user.email %></p>
      <p>Role: <%= user.isAdmin ? "Admin" : "User" %></p>
    </div>
    <% }) %>
  </div>
  <h3 style="color: var(--primaryColor); padding-top: 1rem">
    More Stats To Come Soon In Future Updates!
  </h3>
</div>
<%- include("partials/loggedInFooter.ejs") %>
