<%- include("partials/header.ejs") %>
<style>
  .stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
  }
  .statsItem {
    background-color: var(--primaryColor);
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .statsItemTitle,
  .statsItemValue {
    color: var(--whiteColor);
    font-size: 1.5rem;
    font-weight: 600;
  }
  .statsItemValue {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .adminContainer h2 {
    margin-top: 4rem;
  }
</style>
<div style="text-align: right; margin-right: 2.5rem" class="adminPanel">
  <li>
    <a
      href="/users/admin"
      style="
        background-color: #2a2f4f;
        color: #fff;
        padding: 1rem 2rem;
        border-radius: 0.25rem;
      "
      >Return To Home</a
    >
  </li>
</div>
<div class="container adminContainer">
  <div class="nav"><h1>Hello Admin, <%= user.name %>!</h1></div>
  <div class="stats">
    <div class="statsItem">
      <div class="statsItemTitle">Total Users</div>
      <div class="statsItemValue"><%= stats.totalUsers %></div>
    </div>
    <div class="statsItem">
      <div class="statsItemTitle">Total Posts</div>
      <div class="statsItemValue"><%= stats.totalPosts %></div>
    </div>
  </div>
  <h2>More Stats To Come soon In Future Updates!</h2>
</div>
<%- include("partials/loggedInFooter.ejs") %>
